Repository s-pepyako/yndx-graduate-work: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-backend, trigger-frontend, trigger-deploy

trigger-backend:
  stage: triggers
  trigger:
    include: backend/.gitlab-ci.yml
    strategy: depend

trigger-frontend:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml
    strategy: depend

trigger-deploy:
  stage: triggers
  trigger:
    include: deploy/.gitlab-ci.yml
    strategy: depend

Init CD
  deploy/.gitlab-ci.yml
Due: trigger-deploy

added .kube folder CD
  deploy/.gitlab-ci.yml
Due: trigger-deploy

debug CD
  deploy/.gitlab-ci.yml
Due: trigger-deploy

Debug CD
  deploy/.gitlab-ci.yml
Due: trigger-deploy

fix name stage 1
  deploy/1values.yaml
Due: trigger-deploy

Fix name stage 2 CD
  deploy/values.yaml
Due: trigger-deploy

test CD
  deploy/.gitlab-ci.yml
Due: trigger-deploy

added --install --atomic CD
  deploy/.gitlab-ci.yml
Due: trigger-deploy

Add backend CD CI
  backend/.gitlab-ci.yml
Due: trigger-backend

Add frontend CD CI
  frontend/.gitlab-ci.yml
Due: trigger-frontend

Add deploy stage CICD
  frontend/.gitlab-ci.yml
Due: trigger-frontend

Dry refactor
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/backend.gitlab-ci.yml
  frontend/frontend.gitlab-ci.yml
  include.gitlab-ci.yml
Due: trigger-backend, trigger-frontend

Changed to AWS Ingress
  deploy/charts/frontend/templates/ingress.yaml
Due: trigger-deploy

Change back to nginx CICD
  deploy/charts/frontend/templates/ingress.yaml
  deploy/values.yaml
Due: trigger-deploy

Added namespace var
  deploy/charts/backend/templates/deployment.yaml
  deploy/charts/backend/templates/service.yaml
  deploy/charts/frontend/templates/configmap.yaml
  deploy/charts/frontend/templates/deployment.yaml
  deploy/charts/frontend/templates/ingress.yaml
  deploy/charts/frontend/templates/service.yaml
  deploy/values.yaml
Due: trigger-deploy

Added variables to charts
  .gitlab-ci.yml
  deploy/charts/frontend/templates/ingress.yaml
  deploy/charts/frontend/templates/tls-secret.yaml
  deploy/values.yaml
Due: trigger-deploy

Init CI
  backend/backend.gitlab-ci.yml
  deploy/charts/frontend/templates/tls-secret.yaml
  deploy/values.yaml
  frontend/frontend.gitlab-ci.yml
Due: trigger-backend, trigger-frontend, trigger-deploy

refactored for AWS DEPLOY
  .gitlab-ci.yml
  backend/Dockerfile
  deploy/.gitlab-ci.yml
  deploy/deploy.gitlab-ci.yml
  deploy/templates/registry-secret.yaml
  deploy/values.yaml
Due: trigger-backend, trigger-deploy

debug DEPLOY
  deploy/deploy.gitlab-ci.yml
Due: trigger-deploy

debug remove slash DEPLOY
  deploy/deploy.gitlab-ci.yml
Due: trigger-deploy

adder role argument DEPLOY
  deploy/deploy.gitlab-ci.yml
Due: trigger-deploy

added -n to helm DEPLOY
  deploy/deploy.gitlab-ci.yml
Due: trigger-deploy

Init test DEPLOY
  .gitlab-ci.yml
Due: none

Init test DEPLOY
  deploy/deploy.gitlab-ci.yml
Due: trigger-deploy

init test CICD
  backend/backend.gitlab-ci.yml
  frontend/frontend.gitlab-ci.yml
  include.gitlab-ci.yml
Due: trigger-backend, trigger-frontend

Moved images to S3
  backend/cmd/api/dependencies/store.go
Due: trigger-backend

added file for manual deploy
  deploy/deploy.sh
Due: trigger-deploy

Added prometheus autodicovery annotations
  deploy/charts/backend/templates/deployment.yaml
Due: trigger-deploy

Added nodeselector DEPLOY
  deploy/charts/backend/templates/deployment.yaml
  deploy/charts/frontend/templates/deployment.yaml
Due: trigger-deploy

Added README
  README.md
Due: none

CI
  backend/backend.gitlab-ci.yml
  frontend/frontend.gitlab-ci.yml
Due: trigger-backend, trigger-frontend

DEPLOY
  README.md
  deploy/deploy.gitlab-ci.yml
Due: trigger-deploy

Changed nginx port to 8080 DEPLOY
  deploy/charts/frontend/templates/configmap.yaml
  deploy/charts/frontend/templates/ingress.yaml
  deploy/charts/frontend/templates/service.yaml
Due: trigger-deploy

Final test CI CD
  backend/backend.gitlab-ci.yml
  frontend/frontend.gitlab-ci.yml
Due: trigger-backend, trigger-frontend

Update description
  README.md
Due: none

Added screenshots
  README.md
Due: none

Translated readme
  README.md
Due: none

Ttranslated
  README.md
Due: none

Path conditions:
  trigger-backend: any of: backend/**/*
  trigger-frontend: any of: frontend/**/*
  trigger-deploy: any of: deploy/**/*
